################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Core-DotnetCore
/Core/obj
/Core/bin/Debug/netcoreapp3.1
/Core/bin/Debug
/TestResults
/CoreTest/bin/Debug/net5.0
/CoreTest/obj/Debug/net5.0
/CoreTest/TestResults
